[Unit]
Description=Provision the system

[Service]
Type=oneshot
ExecStart=/bin/secprov
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=regcfp
User=root
Group=root

[Install]
WantedBy=multi-user.target
